In [1]:
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY',
}

In [9]:
import pandas as pd

df = pd.read_csv('raw_data/employee_data1.csv')
ef = pd.read_csv('raw_data/employee_data2.csv')


frames = [df, ef]
combined_data = pd.concat(frames)

#date of birth format
combined_data['DOB'] = pd.to_datetime(combined_data.DOB)
combined_data['DOB1'] = combined_data['DOB'].dt.strftime('%m/%d/%Y')
combined_data['DOB'] = combined_data['DOB1']


#split name
combined_data[['Name','Last Name']] = combined_data.Name.str.split(' ',expand=True)
combined_data.rename(index=str, inplace = True, columns={'Name': 'First Name'})

#combined_data('First') = combined_data.Name.map(lambda x: x.split()[0])
#combined_data('Last') = combined_data.Name.map(lambda x: x.split()[1])
#combined_data.head()
#name_split = combined['Name'].str(split('',0,true))
#new_column = pd.combined(Name.str.split(' ',None,true),
#name_split = ['First Name','Last Name'])

#SSN format
def ssn_private(row):
    last4 = row[-4:-1]
    return("***-**-" + last4)
combined_data['Masked SSN'] = combined_data['SSN'].map(ssn_private)
combined_data['SSN'] = combined_data['Masked SSN']

#state abb format
combined_data['StateAbb'] = combined_data.State.map(us_state_abbrev)
combined_data['State'] = combined_data['StateAbb']

#order columns
combined_data = combined_data.reindex(['Emp ID', 'First Name', 'Last Name', 'DOB', 'Masked SSN', 'State'], axis=1)

#Drop data
#combined_data.drop(['DOB1','StateAbb','SSN'], axis=1)################### why won't it delete 


combined_data

      Emp ID First Name   Last Name         DOB  Masked SSN State
0        214      Sarah     Simpson  12/04/1985  ***-**-816    FL
1         15   Samantha        Lara  09/08/1993  ***-**-752    CO
2        411      Stacy     Charles  12/20/1957  ***-**-852    PA
3        166   Michelle         Roy  07/29/1978  ***-**-394    MI
4         39     Joseph      Rogers  03/28/1985  ***-**-351    MN
5        423      Erica       Hines  10/13/1975  ***-**-615    NY
6        192        Zoe       Patel  12/20/1967  ***-**-081    WI
7        162    Matthew      Harvey  01/20/1990  ***-**-034    TN
8        131      Shawn       Davis  07/21/1961  ***-**-158    WV
9         20      April     Baldwin  08/07/1961  ***-**-201    MO
10       246    Vincent     Daniels  01/06/1972  ***-**-275    MT
11       525        Ann      Fields  08/22/1960  ***-**-791    IA
12       392    Jeffrey     Pearson  05/05/1979  ***-**-257    IL
13       474    Heather     Johnson  09/23/1989  ***-**-090    GA
14       478    Melissa    Fletcher  03/14/1979  ***-**-688    RI
15       101   Kimberly     Alvarez  09/04/1984  ***-**-868    LA
16        52     Monica     Jimenez  04/08/1988  ***-**-166    ND
17       182     Steven     Johnson  05/28/1962  ***-**-707    NE
18       637      Sarah        Wood  06/15/1972  ***-**-671    FL
19       510      Jesus    Petersen  03/28/1958  ***-**-077    OK
20       122     Rhonda     Rosales  04/10/1963  ***-**-028    AL
21       294     Nicole  Richardson  09/09/1981  ***-**-522    LA
22       327   Jennifer      Mendez  07/20/1977  ***-**-199    OR
23       145     Sandra       Petty  01/30/1981  ***-**-762    NC
24       565    Michael      Hester  04/13/1987  ***-**-683    SD
25       590     Joseph       Brown  08/28/1982  ***-**-474    NH
26       340   Michelle      Cooper  08/23/1993  ***-**-230    WA
27       176    Barbara        Wise  12/15/1991  ***-**-766    IN
28        63      Carol     Rosales  07/20/1984  ***-**-490    NJ
29       121       Mark       Villa  02/24/1969  ***-**-220    MS
...      ...        ...         ...         ...         ...   ...
2090     804       Gail     Johnson  06/06/1990  ***-**-361    CT
2091     212     Connie       Olsen  12/30/1988  ***-**-686    OH
2092     417    Michael      Church  11/27/1959  ***-**-507    KY
2093     555       Mike      Wilson  12/23/1962  ***-**-731    MN
2094     519    Crystal      Fisher  11/10/1972  ***-**-974    ID
2095     232    Charles      Duncan  02/14/1980  ***-**-985    NC
2096     898        Roy     Perkins  10/10/1988  ***-**-809    FL
2097      24     Dustin     Jackson  01/06/1979  ***-**-234    HI
2098    2086      Laura   Contreras  05/17/1962  ***-**-654    WY
2099    1709    Timothy      Morton  07/02/1993  ***-**-387    SD
2100    1606       John    Morrison  01/10/1984  ***-**-447    MA
2101    1917     Joseph        Wood  11/02/1957  ***-**-534    FL
2102     928      Oscar      Romero  03/08/1987  ***-**-563    IL
2103    1175    Shannon      Wilson  11/19/1969  ***-**-397    UT
2104    1500      James   Armstrong  07/23/1975  ***-**-455    ND
2105     848     Ronnie     Ellison  04/22/1980  ***-**-226    WA
2106     216     Joshua      Wilcox  09/27/1986  ***-**-715    OK
2107     274      Bryan       Rocha  02/03/1964  ***-**-899    AZ
2108     756    Matthew       Flynn  10/05/1957  ***-**-138    VA
2109    1925     Amanda      Turner  12/28/1960  ***-**-706    MN
2110    1731     Steven       White  03/05/1959  ***-**-489    MA
2111    1019     Andrea       Berry  02/14/1989  ***-**-629    AL
2112    1155      Shawn       Burke  01/01/1960  ***-**-907    CA
2113     449     Rhonda      Wilson  01/08/1987  ***-**-083    VT
2114     115        Jay        Hart  05/14/1963  ***-**-625    CT
2115    1636     Ashley    Martinez  04/13/1986  ***-**-538    NV
2116      84  Elizabeth    Johnston  08/03/1974  ***-**-293    IL
2117    1478     Andrew     Acevedo  06/29/1991  ***-**-696    MT
2118     384   Michelle       Lynch  03/28/1972  ***-**-804    PA
2119    1582   Cristian       Gibbs  02/08/1963  ***-**-947    CT

[2770 rows x 6 columns]